@using PhotoProject.WEB.Util.Helpers
@model PhotoProject.WEB.Models.UserViewModel

@{
    ViewBag.Title = Model.UserName;
}

<div class="container">
    <h2 class="text-field">@Model.UserName</h2>
    <hr />
    <div class="row">
        <div class="col">
            <label class="text-field">Created at: @Model.CreatedAt</label>           
        </div>
        <div class="col">
            @Html.Image(Model.Avatar, "img-cls", new { width = "200", height = "200" })
        </div>

        </div>
</div>


