
@{
    ViewBag.Title = "Please wait...";
}

<div>
    <h3 class="text-field">You have successfully registered to the galery!</h3>
</div>

<script type="text/javascript">
    window.setTimeout(function () {
    window.location.href = '@Url.Action("Index", "Home")';
    }, 1000);
</script>
