
@{
    ViewBag.Title = "Please wait...";
}

<div class="caption">
    <span class="border">You have successfully registered to the galery!</span>
</div>

<script type="text/javascript">
    window.setTimeout(function () {
    window.location.href = '@Url.Action("Index", "Home")';
    }, 1000);
</script>
