@model IEnumerable<PhotoProject.WEB.Models.AlbumViewModel>
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    @Html.TextBox("Title")<input type="submit" value="Search" />
}


<div class="panel panel-primary">
  
    <table class="table table-striped">
        <tr>
            <th>
                Album Title
            </th>
            <th>
                Username
            </th>
            <th>
                Link
            </th>
        </tr>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color: red">
                        No albums
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.UserName</td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Album", new { id = item.Id },
                         new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 10px" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>