body {
 
    background: url("/Images/back2.jpg") no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    min-height: 670px;
    padding: 90px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

#brand {
    height: 100%;
    padding: 15px; 
    width: auto;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.text-field {
    color: #fff;
}

.caption {
    position: center;
    padding-bottom: 50%;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 30px;
    letter-spacing: 10px;
}
